{% extends 'index.html' %}

{% block content %}
    <div class="row">
    {% if products %}
        <h1 class="text-center">Your products for sale</h1>
        {% for product in products %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.price }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} - {{ product.price }} EUR</h5>
                        <a href="{% url 'product details' product.id %}" class="btn btn-primary">See details</a>
                        <a href="{% url 'product delete' product.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>You dont have any products for sale. Click <a href="{% url 'product create' %}">here</a> to add product</h1>
    {% endif %}
    </div>
    {% if  products %}
        {% include 'footers/not_fixed_bottom_footer.html' %}
    {% endif %}
{% endblock %}